* text=auto eol=lf

*.gd text eol=lf
*.gdextension text eol=lf
*.godot text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ogg binary
*.wav binary
